<html>
<body ng-app="app">
<div ng-controller="MainCtrl as vm">
    <h1>{{vm.title}}</h1>
    <app-template></app-template>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="src/script.js"></script>
<script src="tmp/templates.js"></script>
</body>
</html>