<h1>{{vm.model.heading}}</h1>
<p>{{vm.model.description}}</p>
<a ui-sref="invoice.items" class="btn btn-primary">Back</a>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in vm.model.items">{{item.name}}</li>
</ul>