<h1>Invoice #1234</h1>
<p>Order Total: $125.00</p>

<ul class="nav nav-pills">
  <li role="presentation" ui-sref-active="active"><a ui-sref=".items">Items</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref=".shipping-details">Shipping Details</a></li>
</ul>
<div ui-view="invoice-detail-view"></div>