<div class="list-group">
  <a ui-sref=".bom({id: 1})" class="list-group-item">Item #1</a>
  <a ui-sref=".bom({id: 2})" class="list-group-item">Item #2</a>
  <a ui-sref=".bom({id: 3})" class="list-group-item">Item #3</a>
</div>