<div class="container">
  <h1>Tasks</h1>
  <a class="btn btn-success" ng-click="vm.newTask()"><i class="glyphicon glyphicon-plus"></i> New Task</a>
  <hr>
  <task ng-repeat="t in vm.tasks" task="t" update-task="vm.updateTask(t)" class="input-group"></task>
</div>
