<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" ng-model="task.name" ng-change="updateTask(task)" ng-disabled="task.inserting" class="form-control" />
      <div class="bg-success input-group-addon" ng-if="task.complete">Complete</div>
      <div class="bg-danger input-group-addon" ng-if="!task.complete">Outstanding</div>
    </div>
  </div>
</form>